{
    "module": {
        "type": "commonjs"
    },
    "exclude": [
        ".*.js$",
        ".*\\.d.ts$"
    ],
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true
        },
        "transform": null,
        "target": "es2016",
        "loose": false
    },
    "sourceMaps": true
}