/.vscode
/bin/7zip
/bin/addons
/bin/BLPConverter
/bin/cmake
/bin/mpqbuilder
/bin/mysql
/bin/scripts
/bin/sql
/bin/tmp
/bin/mysql_startup.txt
/bin/start.js
/bin/symlinkmaker.js
/bin/tdb.7z
/bin/trinitycore/release/Crashes
/bin/trinitycore/release/*.dll
/bin/trinitycore/release/*.dist
/bin/trinitycore/release/scripts
/config
/coredata/dbc
/coredata/dbc_source
/coredata/luaxml
/coredata/luaxml_source
/coredata/maps
/coredata/mysql
/coredata/mysql_plain
/coredata/vmaps
/coredata/mmaps
/coredata/Auth.log
/coredata/authserver.conf
/coredata/authserver.conf.dist
/coredata/DBErrors.log
/coredata/ids.txt
/coredata/Server.log
/coredata/start.js
/coredata/worldserver.conf
/coredata/worldserver.conf.dist
/log.txt
/node_modules
modules/*/scripts/build