.vs
.vscode

Crashes

Auth.log
client.log
ids.txt
log.txt
node.conf
node.conf
node.yaml
node_modules

bin/*.sql
bin/7zip
bin/BLPConverter
bin/addons
bin/azerothcore
bin/changes
bin/cmake
bin/libraries
bin/libraries_ac
bin/mpqbuilder
bin/mysql
bin/revision
bin/scripts
bin/sql/auth
bin/sql/auth_create.sql
bin/sql/characters
bin/sql/characters_create.sql
bin/sql/custom/auth
bin/sql/custom/world/2016*
bin/sql/custom/world/2018*
bin/sql/updates
bin/sql/world
bin/sql_ac
bin/symlinkmaker.js
bin/tmp
bin/trinitycore


coredata/
coredata/IDs.ts
coredata/terminal-history.txt


modules/*/*/build
modules/default/datasets/dataset/Buildings
modules/default/datasets/dataset/common.dll
modules/default/datasets/dataset/database
modules/default/datasets/dataset/dataset.conf
modules/default/datasets/dataset/dbc
modules/default/datasets/dataset/ids.txt
modules/default/datasets/dataset/lib
modules/default/datasets/dataset/luaxml
modules/default/datasets/dataset/maps
modules/default/datasets/dataset/mmaps
modules/default/datasets/dataset/mmaps_generator.exe
modules/default/datasets/dataset/mmaps_generator.pdb
modules/default/datasets/dataset/mysql
modules/default/datasets/dataset/mysql_plain
modules/default/datasets/dataset/vmaps
modules/default/realms/realm/DBErrors.log
modules/default/realms/realm/GM.log
modules/default/realms/realm/Server.log
modules/default/realms/realm/lib/
modules/default/realms/realm/realm.conf
modules/default/realms/realm/worldserver.conf