/bin
/coredata/authserver
/coredata/database
/coredata/realms
/coredata/datasets/default/database
/coredata/datasets/default/luaxml
/coredata/datasets/default/luaxml_source
/coredata/datasets/default/maps
/coredata/datasets/default/mysql
/coredata/datasets/default/mysql_plain
/coredata/datasets/default/vmaps
/coredata/datasets/default/mmaps
/coredata/datasets/default/Auth.log
vscode
/node_modules
/log.txt
/bin/trinitycore/Debug
.vscode
coredata/datasets/default/default.dataset.yaml
modules/*/*/build/*
modules/tswow-stdlib
node.yaml
