# Build/Garbage
build/
DBFilesClient/
global.d.ts
tsconfig.json
Crashes/
logs/
Server.log
DBErrors.log
*.conf.dist
*_backup/

# Assets
*.blp
*.m2
*.wmo
*.skin
*.anim

# Extracted client data
dbc_source/
dbc/
maps/
mmaps/
vmaps/
Buildings/
Cameras/
luaxml/
luaxml_source/